<?xml version="1.0" encoding="utf-8"?>
<Media Key="586f70f9-b72b-4f12-81a0-a441234d9802" Alias="Aaron Lambert.svg" Level="2">
  <Info>
    <Parent Key="cfa92038-fa8f-450d-832a-1f3fdfd37e64">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:11:11</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bpgn1orq/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>