<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cfff267-8d69-4e83-a28c-d0d6379c9ac4" Alias="Bonds &amp; Commodities.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:38:57</CreateDate>
    <NodeName Default="Bonds &amp; Commodities.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/svhf1xts/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>