<?xml version="1.0" encoding="utf-8"?>
<Media Key="47090118-64b1-4c2a-ba83-939b29489e2a" Alias="Brandon Newton.svg" Level="2">
  <Info>
    <Parent Key="cfa92038-fa8f-450d-832a-1f3fdfd37e64">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:07:13</CreateDate>
    <NodeName Default="Brandon Newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3k4kxjnk/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>