<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f68308e-7b57-4e86-ab7a-8ad3f7b7d855" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:36:11</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/psgnvlkm/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>