<?xml version="1.0" encoding="utf-8"?>
<Media Key="20a6e48b-7a1d-4464-9266-c385653c1f1a" Alias="Brandon Kerr.svg" Level="2">
  <Info>
    <Parent Key="cfa92038-fa8f-450d-832a-1f3fdfd37e64">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:11:11</CreateDate>
    <NodeName Default="Brandon Kerr.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pfmbjqqg/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>