<?xml version="1.0" encoding="utf-8"?>
<Media Key="365e87fe-080b-4160-976b-228094646664" Alias="Brandon Newton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:05:02</CreateDate>
    <NodeName Default="Brandon Newton.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bq3pzvaq/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>