<?xml version="1.0" encoding="utf-8"?>
<Media Key="93a98d64-4700-4777-8c37-afb613bd451a" Alias="call_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" Level="2">
  <Info>
    <Parent Key="87e91444-7b5b-41a9-a166-fcfc522cfdaa">icons</Parent>
    <Path>/icons/call_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:36:49</CreateDate>
    <NodeName Default="call_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/syyaw2i1/call_16dp_e3e3e3_fill0_wght400_grad0_opsz20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>