<?xml version="1.0" encoding="utf-8"?>
<Media Key="f323e0af-7bad-41b7-8af4-d88829b90f79" Alias="call_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/call_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T18:04:43</CreateDate>
    <NodeName Default="call_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lvojcenw/call_16dp_e3e3e3_fill0_wght400_grad0_opsz20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>