<?xml version="1.0" encoding="utf-8"?>
<Media Key="12945dbb-62d4-48b9-919c-04ff0cb517e5" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T15:00:51</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jhqdn2gp/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>