<?xml version="1.0" encoding="utf-8"?>
<Media Key="87e91444-7b5b-41a9-a166-fcfc522cfdaa" Alias="icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T18:36:24</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>