<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad512ee8-6a30-4be3-909f-11851054dfa0" Alias="Img-5-e1695109900349 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T17:54:15</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dkjpgtzl/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>