<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0f2abb9-45d3-41b0-8f57-640168071a6a" Alias="Kevin Gardner.svg" Level="2">
  <Info>
    <Parent Key="cfa92038-fa8f-450d-832a-1f3fdfd37e64">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:11:11</CreateDate>
    <NodeName Default="Kevin Gardner.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jmlfaawi/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>