<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf9b8755-ae0b-4dfc-a39e-c42f934770e9" Alias="location_on_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/location_on_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T18:03:45</CreateDate>
    <NodeName Default="location_on_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u23dsliq/location_on_16dp_e3e3e3_fill0_wght400_grad0_opsz20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>