<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ae32a18-5aca-4b13-ab5e-96d9614aff91" Alias="location_on_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" Level="2">
  <Info>
    <Parent Key="87e91444-7b5b-41a9-a166-fcfc522cfdaa">icons</Parent>
    <Path>/icons/location_on_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:36:49</CreateDate>
    <NodeName Default="location_on_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3klfdsgr/location_on_16dp_e3e3e3_fill0_wght400_grad0_opsz20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>