<?xml version="1.0" encoding="utf-8"?>
<Media Key="1879d28e-61a4-4d5a-8447-e4c75ff04b03" Alias="mail_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mail_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T18:05:22</CreateDate>
    <NodeName Default="mail_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/prxnx4v5/mail_16dp_e3e3e3_fill0_wght400_grad0_opsz20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>