<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf602d3d-6b25-4a3d-971e-b483fd73ffa9" Alias="marker.svg" Level="2">
  <Info>
    <Parent Key="87e91444-7b5b-41a9-a166-fcfc522cfdaa">icons</Parent>
    <Path>/icons/markersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:42:06</CreateDate>
    <NodeName Default="marker.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4imexj4/marker.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>