<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e2aa435-028b-4da0-9426-a3c6ae4845b9" Alias="Miranda Dayton.svg" Level="2">
  <Info>
    <Parent Key="cfa92038-fa8f-450d-832a-1f3fdfd37e64">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:11:11</CreateDate>
    <NodeName Default="Miranda Dayton.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2mjrleq/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>