<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbe98067-0d59-4b86-907d-053756fb3b9d" Alias="Path 7.svg" Level="2">
  <Info>
    <Parent Key="87e91444-7b5b-41a9-a166-fcfc522cfdaa">icons</Parent>
    <Path>/icons/Path7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:42:58</CreateDate>
    <NodeName Default="Path 7.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/su4fwkkc/path-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>