<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dfc13ad-64eb-453c-ba8f-02ce70691e23" Alias="person.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/personsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:26:35</CreateDate>
    <NodeName Default="person.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l4xf3l5q/person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>