<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1b6c942-2017-486d-9583-5d98fe32feef" Alias="person.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/personsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T20:46:51</CreateDate>
    <NodeName Default="person.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wb0biqym/person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>