<?xml version="1.0" encoding="utf-8"?>
<Media Key="eff3f4f8-7ac1-4c17-9d52-92c643d27847" Alias="phone_enabled_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" Level="2">
  <Info>
    <Parent Key="87e91444-7b5b-41a9-a166-fcfc522cfdaa">icons</Parent>
    <Path>/icons/phone_enabled_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:40:16</CreateDate>
    <NodeName Default="phone_enabled_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bjefcdo0/phone_enabled_16dp_e3e3e3_fill0_wght400_grad0_opsz20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>