<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d9fa2d0-16df-44ac-8c89-8dc249c33d8c" Alias="post2 1.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:54:49</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eipd054e/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>