<?xml version="1.0" encoding="utf-8"?>
<Media Key="080a95b9-1cce-4558-9ab3-d9cfdeeb0b82" Alias="Risk Management.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:39:07</CreateDate>
    <NodeName Default="Risk Management.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jmukr0wv/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>