<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cebcc89-51ef-4987-a130-04ee495651ba" Alias="Signatures.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/Signaturessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T09:41:19</CreateDate>
    <NodeName Default="Signatures.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pnyfs1xu/signatures.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>