<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d17307d-5ff4-4144-bf29-03988fe064c7" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:36:41</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r4gll55p/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>