<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b79711e-c461-4c9a-b3ce-02e71c7001ee" Alias="Statistic Advisors.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:37:17</CreateDate>
    <NodeName Default="Statistic Advisors.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3tgnxkl0/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>