<?xml version="1.0" encoding="utf-8"?>
<Media Key="588e21b4-c824-4fec-97e7-148b2d9e35a2" Alias="Tax and Trusts.svg" Level="2">
  <Info>
    <Parent Key="95967b79-6e61-4066-b02a-2254f806c092">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:38:47</CreateDate>
    <NodeName Default="Tax and Trusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i0oczor5/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>