<?xml version="1.0" encoding="utf-8"?>
<Media Key="71cf29c2-1a3d-4879-865f-d645dc8b7671" Alias="Tina Fox.svg" Level="2">
  <Info>
    <Parent Key="cfa92038-fa8f-450d-832a-1f3fdfd37e64">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:11:11</CreateDate>
    <NodeName Default="Tina Fox.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gckg1ezg/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>