<?xml version="1.0" encoding="utf-8"?>
<Content Key="9088dca9-5acc-46d9-b045-d5a56637c2d3" Alias="About" Level="2">
  <Info>
    <Parent Key="c2edae8f-8956-4796-ac6e-f885cc752339">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-28T15:14:52</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7e4485b7-e295-486a-af1a-313df3a5db5f">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "About Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c12f77e4-2e68-4f96-8b49-63eecf5e2348",
      "key": "4a08f90f-2c36-4b3c-a3f0-738fc2067269",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Our Expert"
          }
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003C/h3\u003E\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "e8d0f3f8-80c1-4a4c-9672-230b15366f12",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Brandon Newton"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Financial Advisor at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ad3e63f0-647d-454a-afb7-29cb2543b11a",
                        "mediaKey": "47090118-64b1-4c2a-ba83-939b29489e2a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "3f352485-f55a-4ba2-8094-e4fcd8e75e17",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "AJ Carter"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Financial Advisor at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "740a8b47-c352-4618-8182-26a2ebf4b6fc",
                        "mediaKey": "37518ee6-097b-4747-9ca4-92c2a501ea93",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "65316211-1bca-45bc-949b-6cddeef7ced2",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Aaron Lambert"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Business Specialist at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d29f832a-493f-4581-8526-df27999647a9",
                        "mediaKey": "586f70f9-b72b-4f12-81a0-a441234d9802",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "36277bc5-8361-45d4-82c8-13f8aad2df78",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Tina Fox"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "CEO \u0026 Founder at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8687d2c9-b6d8-4f3e-bac0-856250a63817",
                        "mediaKey": "71cf29c2-1a3d-4879-865f-d645dc8b7671",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "ca0b3765-1333-4200-892a-cc591f27019f",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Brandon Kerr"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": " CFO \u0026 Co-Founderat Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dbbf1fd7-b68c-4984-9d1c-efe1b7f24811",
                        "mediaKey": "20a6e48b-7a1d-4464-9266-c385653c1f1a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "dd7b43cf-bde5-45cf-b3ed-1cf1031f6540",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Miranda Dayton"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Head of HR at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "30020ece-44d4-4579-bb34-f48048404a16",
                        "mediaKey": "4e2aa435-028b-4da0-9426-a3c6ae4845b9",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
                "key": "a32ff11f-fde7-4dcd-88f6-a848bb9969ec",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Kevin Gardner"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Banking Advisor at Swedbank"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "956fe3fa-569d-43ff-8998-510c14182f96",
                        "mediaKey": "e0f2abb9-45d3-41b0-8f57-640168071a6a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e8d0f3f8-80c1-4a4c-9672-230b15366f12",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3f352485-f55a-4ba2-8094-e4fcd8e75e17",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "65316211-1bca-45bc-949b-6cddeef7ced2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "36277bc5-8361-45d4-82c8-13f8aad2df78",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ca0b3765-1333-4200-892a-cc591f27019f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dd7b43cf-bde5-45cf-b3ed-1cf1031f6540",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a32ff11f-fde7-4dcd-88f6-a848bb9969ec",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e8d0f3f8-80c1-4a4c-9672-230b15366f12",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3f352485-f55a-4ba2-8094-e4fcd8e75e17",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "65316211-1bca-45bc-949b-6cddeef7ced2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "36277bc5-8361-45d4-82c8-13f8aad2df78",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ca0b3765-1333-4200-892a-cc591f27019f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dd7b43cf-bde5-45cf-b3ed-1cf1031f6540",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a32ff11f-fde7-4dcd-88f6-a848bb9969ec",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4a08f90f-2c36-4b3c-a3f0-738fc2067269",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4a08f90f-2c36-4b3c-a3f0-738fc2067269",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>