<?xml version="1.0" encoding="utf-8"?>
<Content Key="21dba097-d765-4fab-a22c-4178be288cd5" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="f2473d65-28a3-4869-9f0b-7a8890cdc95a">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-11T16:11:34</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="536bcf93-af7a-4049-9141-141b239f3bfc">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Bonds \u0026 Commodities"
}]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "610ca7f7-3d69-47af-ab54-e19325b4fe93",
      "key": "47784892-88b3-4c4a-8b7e-ad433074ca9d",
      "udi": null,
      "values": [
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b9dc2e22-d6e8-4f9f-8c62-3b5fadb76dfc",
              "mediaKey": "3cfff267-8d69-4e83-a28c-d0d6379c9ac4",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "47784892-88b3-4c4a-8b7e-ad433074ca9d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "47784892-88b3-4c4a-8b7e-ad433074ca9d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fbb98d91-449c-4695-9408-2969c62f69d6",
    "mediaKey": "3cfff267-8d69-4e83-a28c-d0d6379c9ac4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>