<?xml version="1.0" encoding="utf-8"?>
<Content Key="225a523f-b722-423d-96f5-e2b21d51b755" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T10:41:26</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "38942d18-6c90-42af-9b09-7b0cdf60b3bf",
      "key": "60fed6b8-8c9f-4208-bd93-28b1dca5913c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "38942d18-6c90-42af-9b09-7b0cdf60b3bf",
      "key": "5a7b7386-9298-4144-a7df-20bf949e301f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.Linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "38942d18-6c90-42af-9b09-7b0cdf60b3bf",
      "key": "b60cd46c-edf4-41ef-8691-a0c52e751044",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Twitter"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "60fed6b8-8c9f-4208-bd93-28b1dca5913c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a7b7386-9298-4144-a7df-20bf949e301f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b60cd46c-edf4-41ef-8691-a0c52e751044",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "60fed6b8-8c9f-4208-bd93-28b1dca5913c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5a7b7386-9298-4144-a7df-20bf949e301f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b60cd46c-edf4-41ef-8691-a0c52e751044",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "a069bb89-e892-407a-80b1-a26cf87d0615",
    "mediaKey": "4f68308e-7b57-4e86-ab7a-8ad3f7b7d855",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatix]]></Value>
    </siteName>
  </Properties>
</Content>