<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75fb57fe-56c0-4ec1-be35-f14c9d0305a5" Alias="Onatrix-Sections" Level="1">
  <Info>
    <Name>Onatrix-Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "49f0bce9-9f35-4005-810b-899e5e98c089",
      "backgroundColor": "#000000",
      "iconColor": "#000000"
    },
    {
      "contentElementTypeKey": "2ff78686-4c0e-454f-8ab1-9738f95132d3",
      "settingsElementTypeKey": "7e22c80f-18f6-4055-a3e7-9f6d5a320240",
      "backgroundColor": "#000000",
      "iconColor": "#000000"
    },
    {
      "contentElementTypeKey": "c12f77e4-2e68-4f96-8b49-63eecf5e2348"
    },
    {
      "contentElementTypeKey": "c3410c74-d8b0-4a65-8bcb-46844e4624a7"
    }
  ]
}]]></Config>
</DataType>