<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9d3f48d-1be2-42a8-b780-49214ffe7684" Alias=" Service Detail Asides - List" Level="1">
  <Info>
    <Name> Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "610ca7f7-3d69-47af-ab54-e19325b4fe93"
    }
  ]
}]]></Config>
</DataType>