<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ae26b03-887b-4faa-99d1-37ec76a95762" Alias="Site Settings - Platform List " Level="1">
  <Info>
    <Name>Site Settings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "38942d18-6c90-42af-9b09-7b0cdf60b3bf",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>