<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e900d06c-683a-48f0-814b-74e3f7fcfa5b" Alias=" Team Member List " Level="1">
  <Info>
    <Name> Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ee6d1717-44c2-455b-acbc-491416fea18a",
      "label": " {umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>