<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15445949-757b-4959-80cb-057691fc0538" Alias=" Text Box Property Editor UI" Level="1">
  <Info>
    <Name> Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>