<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f01052c5-d6cd-417f-b71e-5af57a8cdccb" Alias="Textstring (1)" Level="1">
  <Info>
    <Name>Textstring (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>