<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6fd73e4e-aef2-4dc4-a949-b43a65d2a9ab" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d7677e1f-9bf9-4534-8067-0b9850930fe9" SortOrder="0">callbackRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>