<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b33e07c-6d66-4e3c-ba8c-a091919e10a6" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-diamond</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0098c84d-28c4-4605-8529-372f5198708a">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="78b5f980-31a1-49a2-8979-d6da6f899fe6" SortOrder="0">contactPage</ContentType>
    <ContentType Key="14bdd393-f9af-484c-aa9d-e8b7528e4fd8" SortOrder="1">servicePage</ContentType>
    <ContentType Key="a35bf400-656c-4eb7-b559-9c098f9cbba1" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>125f6404-98cf-4ffc-bdcb-bf39c5a280d6</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>75fb57fe-56c0-4ec1-be35-f14c9d0305a5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5f2a9e29-011f-481b-9f16-d8bf797625e8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>