<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14bdd393-f9af-484c-aa9d-e8b7528e4fd8" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-hammer</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4f0811f7-7346-4c33-b600-1c3e0d9ab21c">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b69479ce-5f9e-413a-9e03-e7ad5e791be0">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6e364cfe-e5f1-4489-b148-7cb628bec2bf" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8ca41c1c-9e99-4cf1-9946-9060be507407</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>75fb57fe-56c0-4ec1-be35-f14c9d0305a5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b38d954f-5567-45b6-99cb-88379f924588</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>